.container {
  width: 70%;
  margin: auto;
  margin-top: 150px;
  text-align: center;
}

.image {
  margin-top: 15px;
  width: 100%;
  height: 450px;
}

.iconCont {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-around;
  background-color: #fff;
}

.address {
  display: inline-block;
}

.time,
.address {
  font-size: large;
  margin: 0 10px;
}
.desc {
  margin: 50px;
  font-size: large;
}

@media (max-width: 700px) {

    .container{
        width: 100%;
    }
    .image{
      height:100%;
    }

  .iconCont{
    flex-direction: column;
    width: auto;
  }
}
