.icon{
    font-size: 80px;
}

.container{
    text-align: center;
    margin: 70px;
}

.container p {
    margin-top: 40px;
    font-size: xx-large;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 700px) {
    .icon{
        font-size: 40px;
    }
}

@media (700px < width <= 1000px){
    .icon{
        font-size: 50px;
    }
}