.container{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;  
    position: relative;  
}

.container::after{
    position: absolute;
    bottom: 0;
    content: '';
    width: 50px;
    height: 5px;
    background-color: black;
}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
        width: 100%;
    }
    .container::after{
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -25px);
    }
}

@media (700px < width <= 1000px){
    .container{
        flex-direction: row;
        flex-wrap: wrap;
    }
}