.img {
    height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-image: url(/images/hero.jpg);
}

.img div{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.introText {
    font-size: 55px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.introText span {
    font-weight: bolder;
    font-size: 75px;
}

@media (max-width: 700px) {
    .introText {
        font-size: 40px
    }
    .introText span {
        font-size: 50px;
    }
}