.container {
  text-align: center;
  margin-top: 120px;
}

.cardCont {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-around;
}