html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: lightgray;
  }

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 36px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.red{
  margin-top: 10px;
  color: red;
  font-style: italic;
}

.center{
  text-align: center;
  margin-top: 200px;
  font-size: large;
}

.textarea{
  width: 250px;
  height: 100px;
  border-radius: 10px;
  padding: 5px;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
